.Rating
{
  width: 75px;
  height: 53px;
  border-radius: 3.8px;
  background-color: #f5a626;
  position: absolute;
  right: 13px;
  top: 34px;
  padding: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  h3,h4{
      display: inline;
      
  }
  h3{
      margin-left: 8px;
      font-size: 20px;
  }
  p{
      margin: 0px;
      font-size: 14px;
      font-weight: 500;
  }
}